

 /* Genral ↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

body {
    font-family: 'Lalezar', 'Roboto';
    direction: rtl;
    margin: 0px;
}

span {
  font-size: 21px;
  margin-left: 15px;
}

p {
  font-size: 35px;
  color: #189516;
  margin: 0px;
  text-align: center;
}

img {
  margin: 0px 230px;
  height: 400px;
}
